/* Home Page*/
*{
  margin: 0 auto;
  padding: 0 auto;
  font-family: sans-serif;
}

.main{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: auto;
  background: linear-gradient(to right, #2acdaf, #509bc0);
}

.avatar{
  border-radius: 50%;
  width: 30px;
  margin: 0 5%;
}

.logo-img{
  width: 50px;
}

.nav{
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
}

.nav-link{
  flex: 1;
  text-align: right;
}

.nav-link ul li{
  display: inline-block;
  margin: 0 4%;
  font-size: 20px;
}

.nav-link ul li a{
  color: #f5f5f5;
  text-decoration: none;
  transition: 0.3s;
}

.nav-link ul li a:hover{
  color: white;
  text-decoration: underline;
  transition: 1s;
}

footer{
  width: 300px;
  padding: 50px 0 50px ;
  font-size: 20px;
  text-align: center;
}



/* Login Page*/
section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #509bc0;


  background:url(login_bg.png)no-repeat;
  background-position: center;
  background-size: cover;
}

.form-box{
  position: relative;
  width: 350px;
  height: 450px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

h2{
  font-size: 2em;
  color: rgb(255, 255, 255);
  text-align: center;
}

.inputbox{
  position: relative;
  margin: 30px 0;
  width: 250px;
  border-bottom: 2px solid #ffffff;
}

.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #ffffff;
  transition: .5s;
}


input:focus ~ label,
input:valid ~ label{
  top: 2px;
}

.inputbox input{
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  background: transparent;
  color: whitesmoke;
}

.forget{
  margin: 15px 0 15px;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
}

.forget label input{
  margin-right:2px;
}

.forget label a{
  color: #ffffff;
  text-decoration: none;
  margin-left: 40px;
  font-weight: 600;
}

.forget label a:hover{
  text-decoration: underline;
}

button{
  width: 100%;
  height: 40px;
  border-radius: 60px;
  background: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}


.register{
  color: white;
  text-align: center;
  padding: 25px 0 5px;
}

.register p a{
  color: white;
  font-weight: 600;
}